<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>mySelfBank</title>
    <!--vue-->
    <script type="text/javascript" src="common/frontEndStyle/js/vue/vue.min.js"></script>
    <!--jquery-->
    <script type="text/javascript" src="common/js/jquery/jquery-2.1.4.min.js"></script>
    <!--自己的js-->
    <script src="common/frontEndStyle/js/bank.js"></script>

    <!--页面样式-->
    <link rel="stylesheet" type="text/css" href="common/frontEndStyle/css/all.css">

    <!--layer-->
    <script src="common/frontEndStyle/layer/layer.js"></script>
l


</head>
<body>
<div class="loginPage" id="login">
    <div class="top"><p><a href="#"><img src="common/frontEndStyle/img/logo.png" /> 学道</a></p></div>
    <div class="box">
        <div class="inner">
            <div class="form">
                <h3>登录</h3>
                <ul>
                    <li><input type="text" name=""  v-model="loginParam.loginName"  placeholder="请输入账号手机号"></li>
                    <li><input type="password" name="" v-model="loginParam.passWord" placeholder="请输入密码"></li>
                    <li><input type="text" name="" class="code" v-model="loginParam.verificationCode"  placeholder="请输入验证码"><span class="yanzhengma"></span></li>
                </ul>
                <a href="###" class="loginbtn" v-on:click="doLogin()">提交</a>
                <p class="center"><a href="#">忘记密码</a></p>
                <!--<div class="errorTip">请输入密码</div>-->
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright 2010-20111国家基础教育资源网 All Rights Reserved <br>京ICPB备05050271号</p>
    </div>
</div>
<script type="text/javascript">
    var loginVm=new Vue({
        el:"#login",
        data:{
          loginParam:{
              loginName:'',  //登录名
              passWord:'',   // 密码
              verificationCode:'',   //验证码
          }
        },
        create:function(){   //初始化执行，速度快于mounted

        },
        mounted:function() {   //初始化执行

        },
        updated:function(){   //数据发生变化的时候执行

        },
        watch: {},
        methods:{   //方法执行区
            //登录
            doLogin:function(){
                $.ajax({
                    type:'post',
                    url:projectName+"/loginC/Login",
                    data:JSON.stringify(loginVm.loginParam),
                    dataType:'json',
                    contentType: "application/json",
                    success:function(data){
                        alert(JSON.stringify(data))
                        if(data.success==true){
                            localStorage.setItem("loginUser", JSON.stringify(data.obj));
                            if(data.obj.defaultRoleCode=='sysadmin'){  //超级管理员
                                location.href =projectName+"/admin/index.html"
                            }
                            if(data.obj.defaultRoleCode=='worker'){  //员工

                            }
                            if(data.obj.defaultRoleCode=='generalUser'){  //普通用户

                            }
                        }else{
                            layer.alert(data.message)
                        }
                    },
                    error:function(){
                        layer.alert("请求失败")
                    }
                });
            }
        }
    })
</script>
</body>
</html>